POSTGRES_PASSWORD=change_me_to_real_password

# ── PostgreSQL ──
POSTGRES_CONTAINER_PORT=5432
POSTGRES_HOST_PORT=5433

# ── Redis ──
REDIS_CONTAINER_PORT=6379
REDIS_HOST_PORT=6379

# ── MinIO ──
MINIO_API_CONTAINER_PORT=9000
MINIO_API_HOST_PORT=9002
MINIO_CONSOLE_CONTAINER_PORT=9001
MINIO_CONSOLE_HOST_PORT=9003

# ── Backend ──
USER_BACK_CONTAINER_PORT=8000
USER_BACK_HOST_PORT=8000
AUTH_BACK_CONTAINER_PORT=8001
AUTH_BACK_HOST_PORT=8001
INTERACTION_BACK_CONTAINER_PORT=8002
INTERACTION_BACK_HOST_PORT=8002
CREATION_BACK_CONTAINER_PORT=8000
CREATION_BACK_HOST_PORT=8003
PLAYER_BACK_CONTAINER_PORT=8000
PLAYER_BACK_HOST_PORT=8004

# ── Frontend ──
USER_FRONT_CONTAINER_PORT=5173
USER_FRONT_HOST_PORT=5173
AUTH_FRONT_CONTAINER_PORT=5174
AUTH_FRONT_HOST_PORT=5174
INTERACTION_FRONT_CONTAINER_PORT=5175
INTERACTION_FRONT_HOST_PORT=5175
CREATION_FRONT_CONTAINER_PORT=5173
CREATION_FRONT_HOST_PORT=5176
PLAYER_FRONT_CONTAINER_PORT=5173
PLAYER_FRONT_HOST_PORT=5177
